Mission to Mars - Webscraping

In [54]:
#import dependencies
#open chromedriver

from splinter import Browser
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from pprint import pprint
import pymongo
from selenium import webdriver
import os

In [55]:
filepath = ("templates/index.html")
with open(filepath) as file:
    html = file.read()

In [59]:
#Launch site and use BeautifulSoup to parse

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://mars.nasa.gov/news/"
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [57]:
!which chromedriver

/c/Python38/chromedriver

In [60]:
#get the latest news data with bs
data = soup.find("li", class_="slide")
print(data)

<li class="slide"><div class="image_and_description_container"><a href="/news/8785/nasas-perseverance-rover-is-midway-to-mars/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="illustration of the Mars 2020 spacecraft on route to Mars" src="/system/news_items/list_view_images/8785_PIA24231-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's Perseverance Rover Is Midway to Mars </h3></div></div></a><div class="list_text"><div class="list_date">October 27, 2020</div><div class="content_title"><a href="/news/8785/nasas-perseverance-rover-is-midway-to-mars/" target="_self">NASA's Perseverance Rover Is Midway to Mars </a></div><div class="article_teaser_body">Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.</div></div></div></li>

Set Up the variables for the most recent news article

In [61]:
#get variables for the news title and news p.

news_title = data.find('div', class_='content_title').a.text
news_paragraph = data.find('div', class_='article_teaser_body').text
print("----------------------------------------------")
print(f"*{news_title}*")
print(f" {news_paragraph}")
print("----------------------------------------------")

----------------------------------------------
*NASA's Perseverance Rover Is Midway to Mars *
 Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.
----------------------------------------------

### JPL Mars Space Images - Featured Image

In [62]:
#Mars image scraped
#jpl_nasa_url = "https://www.jpl.nasa.gov"

#image url
img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
#use broswer to open
browser.visit(img_url)
#html to parse
html = browser.html
#soup object to parse
soup = bs(html, 'html.parser')
#use soup to navi to the image
image = soup.find("li", class_="slide").a["data-fancybox-href"]
#display
print(image)

/spaceimages/images/largesize/PIA24182_hires.jpg

In [63]:
#Retrieve image link

featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24182_hires.jpg

### Mars Facts

In [64]:
# Mars facts to be scraped
facts_url = "https://space-facts.com/mars/"
table = pd.read_html(facts_url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [65]:
#show in dataframe table
facts_df = table[0]
facts_df
facts_df.columns = ["description", "value"]
#reset index
facts_df.set_index("description", inplace=True)
facts_df.to_html('table.html')
facts_df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [66]:
#html table
facts_html = facts_df.to_html()

print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
    <tr>
      <th>description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

Mars Hemisphere

In [67]:
#Mars hemisphere name and image scraped
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
#usgs_url = "https://astrogeology.usgs.gov"
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)
#create html
html = browser.html
#soup to create a soup object
soup = bs(html, 'html.parser')

In [68]:
data = soup.find_all("div", class_="item")
#print(data)

In [69]:
#data = soup.find_all("div", class_="item")

hemisphere_img_urls = []

# loop through image data to find title and url info
for d in data:
    
    title = d.find("h3").text
    
    img_url = d.a["href"]
    
    url = "https://astrogeology.usgs.gov" + img_url
    
    # use requests to get full images url 
    response = requests.get(url)
    
    # create soup object
    soup = bs(response.text,"html.parser")
    
    # find full image url
    new_url = soup.find("img", class_="wide-image")["src"]
    
    # create full image url
    full_url = "https://astrogeology.usgs.gov" + new_url
    
   
    #make a dict and append to the list
    hemisphere_img_urls.append({"title": title, "img_url": full_url})

print(hemisphere_img_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [70]:
mars_data = {
        "news_title": news_title,
        "news_paragraph": news_paragraph,
        "featured_image_url": featured_image_url,
        "html_table": str(facts_html),
        "hemisphere_img_urls": hemisphere_img_urls
    }

In [71]:
mars_data

{'news_title': "NASA's Perseverance Rover Is Midway to Mars ",
 'news_paragraph': "Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.",
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24182_hires.jpg',
 'html_table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_img_urls': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [72]:
pprint(mars_data)

{'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24182_hires.jpg',
 'hemisphere_img_urls': [{'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
                          'title': 'Cerberus Hemisphere Enhanced'},
                         {'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
                          'title': 'Schiaparelli Hemisphere Enhanced'},
                         {'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
                          'title': 'Syrtis Major Hemisphere Enhanced'},
                         {'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
                          'title': 'Valles Marineris Hemisphere Enhanced'}],
 'html_table': '<table border="1" class="dataframe">\n'
               '  <thead>\n'
               '    <tr style="text-align: right;">\n'
               '      <th></th>\n'
               '      <th>value</th>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>description</th>\n'
               '      <th></th>\n'
               '    </tr>\n'
               '  </thead>\n'
               '  <tbody>\n'
               '    <tr>\n'
               '      <th>Equatorial Diameter:</th>\n'
               '      <td>6,792 km</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Polar Diameter:</th>\n'
               '      <td>6,752 km</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Mass:</th>\n'
               '      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Moons:</th>\n'
               '      <td>2 (Phobos &amp; Deimos)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Orbit Distance:</th>\n'
               '      <td>227,943,824 km (1.38 AU)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Orbit Period:</th>\n'
               '      <td>687 days (1.9 years)</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Surface Temperature:</th>\n'
               '      <td>-87 to -5 °C</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>First Record:</th>\n'
               '      <td>2nd millennium BC</td>\n'
               '    </tr>\n'
               '    <tr>\n'
               '      <th>Recorded By:</th>\n'
               '      <td>Egyptian astronomers</td>\n'
               '    </tr>\n'
               '  </tbody>\n'
               '</table>',
 'news_paragraph': 'Sometimes half measures can be a good thing – especially '
                   "on a journey this long. The agency's latest rover only has "
                   'about 146 million miles left to reach its destination.',
 'news_title': "NASA's Perseverance Rover Is Midway to Mars "}